@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
}

#articles-title {
  text-decoration: underline;
}

h3 {
  font-size: 2rem;
}

p,
li {
  font-size: 1.5rem;
}

label {
  font-size: 1.5rem;
  margin: 1rem;
  width: 25rem;
  display: block;
  justify-content: space-between;
  align-items: baseline;
}

input {
  padding: 0.4rem;
  width: 18rem;
  border: 2px solid #c7d3dc;
  border-radius: 0.2rem;
  display: block;
}

#fileInput {
  width: 30rem;
}

#newSpendingForm input {
  width: 30rem;
}

textarea {
  padding: 0.4rem;
  width: 30rem;
  height: 6rem;
  border: 2px solid #c7d3dc;
  border-radius: 0.2rem;
  display: block;
}

form #body {
  height: 10rem;
}

button {
  display: block;
  margin-top: 2rem;
  align-self: flex-end;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #6558f5;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.removeButton {
  width: 12rem;
  background-color: rgb(255, 69, 37);
}

.editButton {
  width: 12rem;
  background-color: rgb(248, 144, 17);
}

hr {
  margin: 4rem 0;
}

article {
  margin: 4rem 0;
}

.smallImg {
  width: 35rem;
}

.bigImg {
  width: 70rem;
}

ul {
  list-style-type: none;
}

nav {
  display: block;
  margin-bottom: 4rem;
}

.pageItem {
  display: inline-block;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 0.5rem 0rem;
  border-right: none;
}

.pageItem:last-of-type {
  border-right: 1px solid black;
}

.pageLink,
.pageLink-active {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.pageLink:hover {
  background-color: #e4e4e4;
}

.pageLink-active {
  background-color: #e4e4e4;
}

@media (max-width: 47rem) {
  .smallImg {
    width: 25rem;
  }

  .bigImg {
    width: 25rem;
  }

  #fileInput {
    width: 27rem;
  }

  #newSpendingForm input {
    width: 27rem;
  }

  textarea {
    width: 27rem;
  }
}
